// App Level Components
@import './component-styles/_Nav.scss';
@import './component-styles/_Button.scss';

// Routes
@import './component-styles/_Home.scss';
@import './component-styles/_MovieSearch.scss';

// Project Specific
@import './project-styles/sign-in.scss';


a {
    text-decoration: none;
    color: #222239;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.App {
    min-height: 100vh;
    width: 100vw;

    background: azure;

    display: flex;
    flex-direction: column;
    align-items: center;
}
