.si-body {
    height: 100vh;
    width: 100vw;

    margin: -10px 0 0 0;

    background: linear-gradient(45deg, #2f2255, #aa4444);

    display: flex;
    justify-content: center;
    align-items: center;
}

.si-container {
    height: 400px;
    width: 800px;

    box-shadow: 6px 6px 20px rgba(0, 0, 0, .2);

    border-radius: 16px;

    overflow: hidden;

    display: flex;
}

.si-illustration {
    height: 400px;
    flex: 1;

    background: linear-gradient(45deg, #211333, #6d3143);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .si-circle {
        height: 200px;
        width: 200px;

        box-shadow: 4px 4px 10px rgba(0, 0, 0, .2);

        margin-bottom: 40px;

        border-radius: 100%;
        background: #cc5d5d;
    }

    .si-text {
        color: #cc5d5d;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 30px;
        margin-right: -30px;
    }
}

.si-form-container {
    height: 400px;
    flex: 1;

    background: linear-gradient(45deg, #6d3143, #d05a56);

    display: flex;
    justify-content: center;
    align-items: center;
}


.si-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        width: 300px;

        margin-bottom: 20px;
        padding: 10px 5px;

        box-sizing: border-box;

        color: white;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 6px;

        background-color: inherit;
        border-color: rgba(0,0,0,0);

        border-bottom: 1px solid white;

        &::placeholder {
            color: rgba(255, 255, 255, .6);
        }
    }
}
